In [222]:
import pandas as pd
import numpy as np
import os
import re
import math

In [223]:
country_list = pd.read_csv('data/countries.csv')
# change name of the Code column to match datasets, change Label to country
country_list = country_list.rename(columns={'Code': 'iso3', 'Label': 'country'})
country_list.head()

                country iso3
0           Afghanistan  AFG
1                Angola  AGO
2               Albania  ALB
3               Andorra  AND
4  United Arab Emirates  ARE

In [224]:
# number of unique countries
country_list['iso3'].nunique()

188

In [225]:
# countries with nan values only: Andorra (AND), North Korea (PRK), Somalia (SOM)
nan_isos = ['AND', 'PRK', 'SOM']
for iso in nan_isos:
    country_list = country_list[country_list.iso3 != iso]

country_list['iso3'].nunique()

185

In [226]:
country_list.to_csv('final_datasets/all_countries.csv', index=False)

In [227]:
def load_and_prepare_dataset(filename):
    # load the data
    if os.path.isdir('data/nutrition'):
        print('***********************')
        print('Loading dataset ' + filename + '...\n')
        path = 'data/nutrition/' + filename
        dataset = pd.read_csv(path)
    else:
        print('Directory not found')
        
        
    # fix missing varnum column
#     missing_varnums = ['v10_cnty.csv', 'v33_cnty.csv', 'v35_cnty.csv']
    missing_varnums = ['10', '33', '35', '50']

    for varnum in missing_varnums:
        if varnum in filename:
            print('adding varnum column to ', varnum)
            dataset['varnum'] = varnum


    print('Sample before manipulation: ')
    print(dataset.head())
  
    print('\n\nShape before manipulation: ')
    print(dataset.shape)
    
    print('\n\nColumns before manipulation: ')
    print(dataset.count())
    
    # check unique iso3 codes in both dataset and country_list
    unique_iso_in_country_lst = country_list['iso3'].unique()
    print('\nUnique countries in country list:', len(unique_iso_in_country_lst))
    unique_iso_in_data = dataset['iso3'].unique()
    print('Unique countries in dataset:', len(unique_iso_in_data))
    
    # find the countries that are in iso list but not in the dataset
    countries_not_in_dataset = list(set(unique_iso_in_country_lst) - set(unique_iso_in_data))
    print('\nCountries in country list but not in the dataset', filename, countries_not_in_dataset)
    
    # find the countries that are in the data but not in iso list
    countries_not_in_country_list = list(set(unique_iso_in_data) - set(unique_iso_in_country_lst))
    print('Countries NOT in country list ', countries_not_in_country_list)
    
    # find the total estimates for each country and year
    filtered_dataset = dataset[ dataset['age'].eq(999) & dataset['female'].eq(999) & dataset['urban'].eq(999) & dataset['edu'].eq(999) ]

    # typecast age and year as integer
    filtered_dataset = filtered_dataset.astype({"age": int, "year": int})
    
    # get all columns from the dataset:
    columns_list = list(filtered_dataset.columns)
    print('columns_list', columns_list)
    
    # change columns with values names to contain the variable code (varnum)
    var_type = re.findall(r'\d+', filename)[0]
    var_name = 'v' + var_type 
    
    print('var_name', var_name)
    
    for column in columns_list:
        if var_name in column:
            print(column)
            new_name = column.replace(var_name, '')
            filtered_dataset.rename(columns={column: new_name}, inplace=True)
            print(column)
  
    # rename columns
    filtered_dataset.rename(columns={'superregion2': 'region', 'var': 'nutrient_code', '_type': 'type', '_type_desc': 'type_desc'}, inplace=True)

    # remove unnecessary columns from data
    filtered_dataset = filtered_dataset.drop(columns=['age', 'female', 'urban', 'edu'])

#     if 'serving', 's_lowerci_95', 's_upperci_95' exist, drop them form the dataset
    if 'serving' in filtered_dataset.columns:
        filtered_dataset = filtered_dataset.drop(columns=['serving', 's_lowerci_95', 's_upperci_95'])
    
    print('\n\nShape after manipulation: ')
    print(filtered_dataset.shape)
    
    print('\nDataset ' + filename + ' processed successfully!\n')
    print('***********************\n')
    
    clean_data_directory = 'clean_data/clean_nutrition'
    file_name = 'cleaned_' + filename
    
    if os.path.isdir(clean_data_directory):
        # save file to directory
        filtered_dataset.to_csv(clean_data_directory + '/' + file_name)
        
    else:
        # create directory, save file
        os.mkdir(clean_data_directory)
        filtered_dataset.to_csv(clean_data_directory + '/' + file_name)
        
#     filtered_dataset
    return filtered_dataset

In [228]:
test = list() 

for filename in os.listdir("data/nutrition"):
#     print(filename)
    if filename[0] == 'v':
        test.append(load_and_prepare_dataset(filename))

***********************
Loading dataset v05_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v05_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v05_type', 'v05_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v05
v05_type
v05_type
v05_type_desc
v05_type_desc

Dataset v05_cnty.csv processed successfully!

***********************

***********************
Loading dataset v04_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v04_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v04_type', 'v04_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v04
v04_type
v04_type
v04_type_desc
v04_type_desc

Dataset v04_cnty.csv processed successfully!

***********************

***********************
Loading dataset v46_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v46_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v46_type', 'v46_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v46
v46_type
v46_type
v46_type_desc
v46_type_desc

Dataset v46_cnty.csv processed successfully!

***********************

***********************
Loading dataset v47_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v47_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v47_type', 'v47_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v47
v47_type
v47_type
v47_type_desc
v47_type_desc

Dataset v47_cnty.csv processed successfully!

***********************

***********************
Loading dataset v31_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v31_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v31_type', 'v31_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v31
v31_type
v31_type
v31_type_desc
v31_type_desc

Dataset v31_cnty.csv processed successfully!

***********************

***********************
Loading dataset v30_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v30_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v30_type', 'v30_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v30
v30_type
v30_type
v30_type_desc
v30_type_desc

Dataset v30_cnty.csv processed successfully!

***********************

***********************
Loading dataset v12_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v12_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v12_type', 'v12_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v12
v12_type
v12_type
v12_type_desc
v12_type_desc

Dataset v12_cnty.csv processed successfully!

***********************

***********************
Loading dataset v13_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v13_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v13_type', 'v13_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v13
v13_type
v13_type
v13_type_desc
v13_type_desc

Dataset v13_cnty.csv processed successfully!

***********************

***********************
Loading dataset v18_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v18_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v18_type', 'v18_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v18
v18_type
v18_type
v18_type_desc
v18_type_desc

Dataset v18_cnty.csv processed successfully!

***********************

***********************
Loading dataset v51_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v51_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v51_type', 'v51_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v51
v51_type
v51_type
v51_type_desc
v51_type_desc

Dataset v51_cnty.csv processed successfully!

***********************

***********************
Loading dataset v50_cnty.csv...

adding varnum column to  50

Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v50_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'v50_type', 'v50_type_desc', 'median', 'lowerci_95', 'upperci_95', 'varnum']
var_name v50
v50_type
v50_type
v50_type_desc
v50_type_desc

Dataset v50_cnty.csv processed successfully!

***********************

***********************
Loading dataset v27_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v27_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v27_type', 'v27_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v27
v27_type
v27_type
v27_type_desc
v27_type_desc

Dataset v27_cnty.csv processed successfully!

***********************

***********************
Loading dataset v15_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v15_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v15_type', 'v15_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v15
v15_type
v15_type
v15_type_desc
v15_type_desc

Dataset v15_cnty.csv processed successfully!

***********************

***********************
Loading dataset v14_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v14_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v14_type', 'v14_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v14
v14_type
v14_type
v14_type_desc
v14_type_desc

Dataset v14_cnty.csv processed successfully!

***********************

***********************
Loading dataset v57_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v57_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v57_type', 'v57_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v57
v57_type
v57_type
v57_type_desc
v57_type_desc

Dataset v57_cnty.csv processed successfully!

***********************

***********************
Loading dataset v02_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v02_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v02_type', 'v02_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v02
v02_type
v02_type
v02_type_desc
v02_type_desc

Dataset v02_cnty.csv processed successfully!

***********************

***********************
Loading dataset v03_cnty.csv...

Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v03_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v03_type', 'v03_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v03
v03_type
v03_type
v03_type_desc
v03_type_desc

Dataset v03_cnty.csv processed successfully!

***********************

***********************
Loading dataset v41_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v41_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v41_type', 'v41_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v41
v41_type
v41_type
v41_type_desc
v41_type_desc

Dataset v41_cnty.csv processed successfully!

***********************

***********************
Loading dataset v40_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v40_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v40_type', 'v40_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v40
v40_type
v40_type
v40_type_desc
v40_type_desc

Dataset v40_cnty.csv processed successfully!

***********************

***********************
Loading dataset v08_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v08_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v08_type', 'v08_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v08
v08_type
v08_type
v08_type_desc
v08_type_desc

Dataset v08_cnty.csv processed successfully!

***********************

***********************
Loading dataset v09_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v09_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v09_type', 'v09_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v09
v09_type
v09_type
v09_type_desc
v09_type_desc

Dataset v09_cnty.csv processed successfully!

***********************

***********************
Loading dataset v36_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v36_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v36_type', 'v36_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v36
v36_type
v36_type
v36_type_desc
v36_type_desc

Dataset v36_cnty.csv processed successfully!

***********************

***********************
Loading dataset v37_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v37_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v37_type', 'v37_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v37
v37_type
v37_type
v37_type_desc
v37_type_desc

Dataset v37_cnty.csv processed successfully!

***********************

***********************
Loading dataset v52_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v52_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v52_type', 'v52_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v52
v52_type
v52_type
v52_type_desc
v52_type_desc

Dataset v52_cnty.csv processed successfully!

***********************

***********************
Loading dataset v53_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v53_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v53_type', 'v53_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v53
v53_type
v53_type
v53_type_desc
v53_type_desc

Dataset v53_cnty.csv processed successfully!

***********************

***********************
Loading dataset v11_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v11_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v11_type', 'v11_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v11
v11_type
v11_type
v11_type_desc
v11_type_desc

Dataset v11_cnty.csv processed successfully!

***********************

***********************
Loading dataset v10_cnty.csv...

adding varnum column to  10

Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v10_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'v10_type', 'v10_type_desc', 'median', 'lowerci_95', 'upperci_95', 'serving', 's_lowerci_95', 's_upperci_95', 'varnum']
var_name v10
v10_type
v10_type
v10_type_desc
v10_type_desc

Dataset v10_cnty.csv processed successfully!

***********************

***********************
Loading dataset v45_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v45_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v45_type', 'v45_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v45
v45_type
v45_type
v45_type_desc
v45_type_desc

Dataset v45_cnty.csv processed successfully!

***********************

***********************
Loading dataset v33_cnty.csv...

adding varnum column to  33

Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v33_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'v33_type', 'v33_type_desc', 'median', 'lowerci_95', 'upperci_95', 'varnum']
var_name v33
v33_type
v33_type
v33_type_desc
v33_type_desc

Dataset v33_cnty.csv processed successfully!

***********************

***********************
Loading dataset v06_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v06_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v06_type', 'v06_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v06
v06_type
v06_type
v06_type_desc
v06_type_desc

Dataset v06_cnty.csv processed successfully!

***********************

***********************
Loading dataset v07_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v07_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v07_type', 'v07_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v07
v07_type
v07_type
v07_type_desc
v07_type_desc

Dataset v07_cnty.csv processed successfully!

***********************

***********************
Loading dataset v38_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v38_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v38_type', 'v38_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v38
v38_type
v38_type
v38_type_desc
v38_type_desc

Dataset v38_cnty.csv processed successfully!

***********************

***********************
Loading dataset v39_cnty.csv...

Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v39_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v39_type', 'v39_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v39
v39_type
v39_type
v39_type_desc
v39_type_desc

Dataset v39_cnty.csv processed successfully!

***********************

***********************
Loading dataset v42_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v42_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v42_type', 'v42_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v42
v42_type
v42_type
v42_type_desc
v42_type_desc

Dataset v42_cnty.csv processed successfully!

***********************

***********************
Loading dataset v43_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v43_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v43_type', 'v43_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v43
v43_type
v43_type
v43_type_desc
v43_type_desc

Dataset v43_cnty.csv processed successfully!

***********************

***********************
Loading dataset v35_cnty.csv...

adding varnum column to  35

Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v35_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'v35_type', 'v35_type_desc', 'median', 'lowerci_95', 'upperci_95', 'varnum']
var_name v35
v35_type
v35_type
v35_type_desc
v35_type_desc

Dataset v35_cnty.csv processed successfully!

***********************

***********************
Loading dataset v34_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v34_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v34_type', 'v34_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v34
v34_type
v34_type
v34_type_desc
v34_type_desc

Dataset v34_cnty.csv processed successfully!

***********************

***********************
Loading dataset v01_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v01_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v01_type', 'v01_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v01
v01_type
v01_type
v01_type_desc
v01_type_desc

Dataset v01_cnty.csv processed successfully!

***********************

***********************
Loading dataset v48_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v48_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v48_type', 'v48_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v48
v48_type
v48_type
v48_type_desc
v48_type_desc

Dataset v48_cnty.csv processed successfully!

***********************

***********************
Loading dataset v49_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v49_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v49_type', 'v49_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v49
v49_type
v49_type
v49_type_desc
v49_type_desc

Dataset v49_cnty.csv processed successfully!

***********************

***********************
Loading dataset v54_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v54_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v54_type', 'v54_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v54
v54_type
v54_type
v54_type_desc
v54_type_desc

Dataset v54_cnty.csv processed successfully!

***********************

***********************
Loading dataset v22_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v22_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v22_type', 'v22_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v22
v22_type
v22_type
v22_type_desc
v22_type_desc

Dataset v22_cnty.csv processed successfully!

***********************

***********************
Loading dataset v23_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v23_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v23_type', 'v23_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v23
v23_type
v23_type
v23_type_desc
v23_type_desc

Dataset v23_cnty.csv processed successfully!

***********************

***********************
Loading dataset v16_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v16_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v16_type', 'v16_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v16
v16_type
v16_type
v16_type_desc
v16_type_desc

Dataset v16_cnty.csv processed successfully!

***********************

***********************
Loading dataset v17_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v17_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v17_type', 'v17_type_desc', 'median', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95']
var_name v17
v17_type
v17_type
v17_type_desc
v17_type_desc

Dataset v17_cnty.csv processed successfully!

***********************

***********************
Loading dataset v28_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v28_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v28_type', 'v28_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v28
v28_type
v28_type
v28_type_desc
v28_type_desc

Dataset v28_cnty.csv processed successfully!

***********************

***********************
Loading dataset v29_cnty.csv...


Unique countries in country list: 185
Unique countries in dataset: 185

Countries in country list but not in the dataset v29_cnty.csv []
Countries NOT in country list  []
columns_list ['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year', 'varnum', 'v29_type', 'v29_type_desc', 'median', 'upperci_95', 'lowerci_95']
var_name v29
v29_type
v29_type
v29_type_desc
v29_type_desc

Dataset v29_cnty.csv processed successfully!

***********************

In [229]:
df_row_merged = pd.concat(test, ignore_index=True)
df_row_merged

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,iso3,lowerci_95,median,region,type,type_desc,upperci_95,varnum,year
0,AFG,40.385562,83.317104,SAARC,1,1: Foods & Beverages,168.622554,5,1990
1,AFG,34.698625,71.775725,SAARC,1,1: Foods & Beverages,148.634712,5,1995
2,AFG,20.415994,42.381433,SAARC,1,1: Foods & Beverages,91.962824,5,2000
3,AFG,29.447248,60.322418,SAARC,1,1: Foods & Beverages,125.342277,5,2005
4,AFG,52.585198,104.545995,SAARC,1,1: Foods & Beverages,194.380218,5,2010
5,AFG,50.956284,106.085897,SAARC,1,1: Foods & Beverages,205.395137,5,2015
6,AFG,50.546712,103.830266,SAARC,1,1: Foods & Beverages,197.538241,5,2018
7,AGO,20.247857,28.964633,SSA,1,1: Foods & Beverages,43.687681,5,1990
8,AGO,26.775923,38.153402,SSA,1,1: Foods & Beverages,57.282848,5,1995
9,AGO,19.896019,28.666511,SSA,1,1: Foods & Beverages,42.463388,5,2000
10,AGO,20.656986,29.620964,SSA,1,1: Foods & Beverages,45.115900,5,2005
11,AGO,26.155207,37.264458,SSA,1,1: Foods & Beverages,55.470757,5,2010
12,AGO,26.183284,37.649947,SSA,1,1: Foods & Beverages,56.821202,5,2015
13,AGO,26.404137,37.799557,SSA,1,1: Foods & Beverages,57.330596,5,2018
14,ALB,24.946446,31.286497,FSU,1,1: Foods & Beverages,39.115730,5,1990
15,ALB,24.988629,31.246881,FSU,1,1: Foods & Beverages,38.993423,5,1995
16,ALB,28.445757,35.768809,FSU,1,1: Foods & Beverages,44.998568,5,2000
17,ALB,28.712009,36.119621,FSU,1,1: Foods & Beverages,45.548466,5,2005
18,ALB,29.449842,37.088055,FSU,1,1: Foods & Beverages,46.985604,5,2010
19,ALB,32.418976,40.713287,FSU,1,1: Foods & Beverages,51.389682,5,2015
20,ALB,31.989602,40.181361,FSU,1,1: Foods & Beverages,50.818942,5,2018
21,ARE,7.072361,13.360282,MENA,1,1: Foods & Beverages,26.589101,5,1990
22,ARE,12.741514,24.275148,MENA,1,1: Foods & Beverages,47.222170,5,1995
23,ARE,8.057084,15.220121,MENA,1,1: Foods & Beverages,30.069951,5,2000
24,ARE,15.288324,29.556170,MENA,1,1: Foods & Beverages,58.968146,5,2005
25,ARE,18.971178,36.503807,MENA,1,1: Foods & Beverages,72.103190,5,2010
26,ARE,23.448129,45.674908,MENA,1,1: Foods & Beverages,88.812879,5,2015
27,ARE,21.080216,40.563807,MENA,1,1: Foods & Beverages,80.376497,5,2018
28,ARG,2.546556,3.410159,LAC,1,1: Foods & Beverages,4.557022,5,1990
29,ARG,2.331894,3.139180,LAC,1,1: Foods & Beverages,4.238687,5,1995
...,...,...,...,...,...,...,...,...,...
61575,WSM,2.494686,2.610182,Asia,2,2: Macronutrients,2.744168,29,2015
61576,WSM,2.494092,2.608822,Asia,2,2: Macronutrients,2.746056,29,2018
61577,YEM,2.499489,2.648896,MENA,2,2: Macronutrients,2.800893,29,1990
61578,YEM,2.485980,2.630931,MENA,2,2: Macronutrients,2.779921,29,1995
61579,YEM,2.500176,2.643946,MENA,2,2: Macronutrients,2.780538,29,2000
61580,YEM,2.513201,2.657240,MENA,2,2: Macronutrients,2.797847,29,2005
61581,YEM,2.492295,2.628183,MENA,2,2: Macronutrients,2.759548,29,2010
61582,YEM,2.485534,2.628394,MENA,2,2: Macronutrients,2.773461,29,2015
61583,YEM,2.488825,2.629123,MENA,2,2: Macronutrients,2.763855,29,2018
61584,ZAF,2.723532,2.767443,SSA,2,2: Macronutrients,2.813177,29,1990
61585,ZAF,2.772062,2.814332,SSA,2,2: Macronutrients,2.857562,29,1995
61586,ZAF,2.763570,2.806294,SSA,2,2: Macronutrients,2.850170,29,2000
61587,ZAF,2.813972,2.858429,SSA,2,2: Macronutrients,2.905017,29,2005
61588,ZAF,2.828605,2.879325,SSA,2,2: Macronutrients,2.930325,29,2010
61589,ZAF,2.822605,2.871440,SSA,2,2: Macronutrients,2.923171,29,2015
61590,ZAF,2.821306,2.869773,SSA,2,2: Macronutrients,2.921674,29,2018
61591,ZMB,2.492586,2.651745,SSA,2,2: Macronutrients,2.854141,29,1990
61592,ZMB,2.494562,2.650338,SSA,2,2: Macronutrients,2.851861,29,1995
61593,ZMB,2.496973,2.650477,SSA,2,2: Macronutrients,2.854206,29,2000
61594,ZMB,2.506683,2.663878,SSA,2,2: Macronutrients,2.866667,29,2005
61595,ZMB,2.512428,2.670434,SSA,2,2: Macronutrients,2.877346,29,2010
61596,ZMB,2.507438,2.668792,SSA,2,2: Macronutrients,2.875718,29,2015
61597,ZMB,2.504467,2.667797,SSA,2,2: Macronutrients,2.871641,29,2018
61598,ZWE,2.482319,2.635493,SSA,2,2: Macronutrients,2.835369,29,1990
61599,ZWE,2.490511,2.644042,SSA,2,2: Macronutrients,2.842883,29,1995
61600,ZWE,2.498530,2.652271,SSA,2,2: Macronutrients,2.857162,29,2000
61601,ZWE,2.567832,2.728098,SSA,2,2: Macronutrients,2.941544,29,2005
61602,ZWE,2.581785,2.742652,SSA,2,2: Macronutrients,2.953903,29,2010
61603,ZWE,2.578264,2.738186,SSA,2,2: Macronutrients,2.947335,29,2015
61604,ZWE,2.574930,2.737503,SSA,2,2: Macronutrients,2.948672,29,2018

In [230]:
done = pd.merge(df_row_merged, country_list, on="iso3", how='left')

In [231]:
done['type_desc'] = done['type_desc'].str.replace(r'\d+(?=:)', '')
done['type_desc'] = done['type_desc'].str.replace(r'\:', '')

In [232]:
done

,iso3,lowerci_95,median,region,type,type_desc,upperci_95,varnum,year,country
0,AFG,40.385562,83.317104,SAARC,1,Foods & Beverages,168.622554,5,1990,Afghanistan
1,AFG,34.698625,71.775725,SAARC,1,Foods & Beverages,148.634712,5,1995,Afghanistan
2,AFG,20.415994,42.381433,SAARC,1,Foods & Beverages,91.962824,5,2000,Afghanistan
3,AFG,29.447248,60.322418,SAARC,1,Foods & Beverages,125.342277,5,2005,Afghanistan
4,AFG,52.585198,104.545995,SAARC,1,Foods & Beverages,194.380218,5,2010,Afghanistan
5,AFG,50.956284,106.085897,SAARC,1,Foods & Beverages,205.395137,5,2015,Afghanistan
6,AFG,50.546712,103.830266,SAARC,1,Foods & Beverages,197.538241,5,2018,Afghanistan
7,AGO,20.247857,28.964633,SSA,1,Foods & Beverages,43.687681,5,1990,Angola
8,AGO,26.775923,38.153402,SSA,1,Foods & Beverages,57.282848,5,1995,Angola
9,AGO,19.896019,28.666511,SSA,1,Foods & Beverages,42.463388,5,2000,Angola
10,AGO,20.656986,29.620964,SSA,1,Foods & Beverages,45.115900,5,2005,Angola
11,AGO,26.155207,37.264458,SSA,1,Foods & Beverages,55.470757,5,2010,Angola
12,AGO,26.183284,37.649947,SSA,1,Foods & Beverages,56.821202,5,2015,Angola
13,AGO,26.404137,37.799557,SSA,1,Foods & Beverages,57.330596,5,2018,Angola
14,ALB,24.946446,31.286497,FSU,1,Foods & Beverages,39.115730,5,1990,Albania
15,ALB,24.988629,31.246881,FSU,1,Foods & Beverages,38.993423,5,1995,Albania
16,ALB,28.445757,35.768809,FSU,1,Foods & Beverages,44.998568,5,2000,Albania
17,ALB,28.712009,36.119621,FSU,1,Foods & Beverages,45.548466,5,2005,Albania
18,ALB,29.449842,37.088055,FSU,1,Foods & Beverages,46.985604,5,2010,Albania
19,ALB,32.418976,40.713287,FSU,1,Foods & Beverages,51.389682,5,2015,Albania
20,ALB,31.989602,40.181361,FSU,1,Foods & Beverages,50.818942,5,2018,Albania
21,ARE,7.072361,13.360282,MENA,1,Foods & Beverages,26.589101,5,1990,United Arab Emirates
22,ARE,12.741514,24.275148,MENA,1,Foods & Beverages,47.222170,5,1995,United Arab Emirates
23,ARE,8.057084,15.220121,MENA,1,Foods & Beverages,30.069951,5,2000,United Arab Emirates
24,ARE,15.288324,29.556170,MENA,1,Foods & Beverages,58.968146,5,2005,United Arab Emirates
25,ARE,18.971178,36.503807,MENA,1,Foods & Beverages,72.103190,5,2010,United Arab Emirates
26,ARE,23.448129,45.674908,MENA,1,Foods & Beverages,88.812879,5,2015,United Arab Emirates
27,ARE,21.080216,40.563807,MENA,1,Foods & Beverages,80.376497,5,2018,United Arab Emirates
28,ARG,2.546556,3.410159,LAC,1,Foods & Beverages,4.557022,5,1990,Argentina
29,ARG,2.331894,3.139180,LAC,1,Foods & Beverages,4.238687,5,1995,Argentina
...,...,...,...,...,...,...,...,...,...,...
61575,WSM,2.494686,2.610182,Asia,2,Macronutrients,2.744168,29,2015,Samoa
61576,WSM,2.494092,2.608822,Asia,2,Macronutrients,2.746056,29,2018,Samoa
61577,YEM,2.499489,2.648896,MENA,2,Macronutrients,2.800893,29,1990,Yemen
61578,YEM,2.485980,2.630931,MENA,2,Macronutrients,2.779921,29,1995,Yemen
61579,YEM,2.500176,2.643946,MENA,2,Macronutrients,2.780538,29,2000,Yemen
61580,YEM,2.513201,2.657240,MENA,2,Macronutrients,2.797847,29,2005,Yemen
61581,YEM,2.492295,2.628183,MENA,2,Macronutrients,2.759548,29,2010,Yemen
61582,YEM,2.485534,2.628394,MENA,2,Macronutrients,2.773461,29,2015,Yemen
61583,YEM,2.488825,2.629123,MENA,2,Macronutrients,2.763855,29,2018,Yemen
61584,ZAF,2.723532,2.767443,SSA,2,Macronutrients,2.813177,29,1990,South Africa
61585,ZAF,2.772062,2.814332,SSA,2,Macronutrients,2.857562,29,1995,South Africa
61586,ZAF,2.763570,2.806294,SSA,2,Macronutrients,2.850170,29,2000,South Africa
61587,ZAF,2.813972,2.858429,SSA,2,Macronutrients,2.905017,29,2005,South Africa
61588,ZAF,2.828605,2.879325,SSA,2,Macronutrients,2.930325,29,2010,South Africa
61589,ZAF,2.822605,2.871440,SSA,2,Macronutrients,2.923171,29,2015,South Africa
61590,ZAF,2.821306,2.869773,SSA,2,Macronutrients,2.921674,29,2018,South Africa
61591,ZMB,2.492586,2.651745,SSA,2,Macronutrients,2.854141,29,1990,Zambia
61592,ZMB,2.494562,2.650338,SSA,2,Macronutrients,2.851861,29,1995,Zambia
61593,ZMB,2.496973,2.650477,SSA,2,Macronutrients,2.854206,29,2000,Zambia
61594,ZMB,2.506683,2.663878,SSA,2,Macronutrients,2.866667,29,2005,Zambia
61595,ZMB,2.512428,2.670434,SSA,2,Macronutrients,2.877346,29,2010,Zambia
61596,ZMB,2.507438,2.668792,SSA,2,Macronutrients,2.875718,29,2015,Zambia
61597,ZMB,2.504467,2.667797,SSA,2,Macronutrients,2.871641,29,2018,Zambia
61598,ZWE,2.482319,2.635493,SSA,2,Macronutrients,2.835369,29,1990,Zimbabwe
61599,ZWE,2.490511,2.644042,SSA,2,Macronutrients,2.842883,29,1995,Zimbabwe
61600,ZWE,2.498530,2.652271,SSA,2,Macronutrients,2.857162,29,2000,Zimbabwe
61601,ZWE,2.567832,2.728098,SSA,2,Macronutrients,2.941544,29,2005,Zimbabwe
61602,ZWE,2.581785,2.742652,SSA,2,Macronutrients,2.953903,29,2010,Zimbabwe
61603,ZWE,2.578264,2.738186,SSA,2,Macronutrients,2.947335,29,2015,Zimbabwe
61604,ZWE,2.574930,2.737503,SSA,2,Macronutrients,2.948672,29,2018,Zimbabwe

In [235]:
nulls = done[ done['varnum'].isnull() ]
nulls

Empty DataFrame
Columns: [iso3, lowerci_95, median, region, type, type_desc, upperci_95, varnum, year, country]
Index: []

In [ ]:
nulls = list(done['varnum'].unique())
np.sort(nulls)

In [234]:
done.to_csv('data/ingestion/nutrients.csv', encoding='utf-8')